commands:
  01get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  03npm_install_bower:
    command: sudo npm install -g bower
  04npm_install_gulp:
    command: sudo npm install -g grunt
  05yum_install_git:
    command: sudo yum -y --enablerepo=epel install git
container_commands:
  01npm_dependency_install:
    command: npm install
    cwd: /var/app/ondeck/src/public
  02bower_dependency_install:
    command: bower install --allow-root
    cwd: /var/app/ondeck/src/public
  03grunt_tasks:
    command: grunt
    cwd: /var/app/ondeck/src/public
