<div class="container-fluid" ng-cloak ng-init="$transactions_list_for_an_account.getItems()">
    <div class="items-list">
        <a class="item item-badge" ng-repeat="transaction in $transactions_list_for_an_account.transactions" href="#!/wallets/{{ $transactions_list_for_an_account.current_wallet_id }}/accounts/{{ $transactions_list_for_an_account.current_account_id }}/transactions/{{ transaction.id }}">
            <i class="glyphicon glyphicon-piggy-bank"></i>
            <span class="name">{{ transaction.description }}</span>
            <!-- <span class="total_amount">{{ transaction.total_amount }}</span> -->
        </a>
    </div>
</div>