<div class="container-fluid item-detail" ng-init="$selected_wallet.getItem()">
    <a class="btn-link text-white" href="/"><i class="glyphicon glyphicon-chevron-left"></i> All Wallets</a>
    <form ng-submit="$selected_wallet.updateItem()">
        <h3><input type="text" required="required" class="fake-title" name="name" placeholder="Name" ng-model="$selected_wallet.selected_wallet.name" value="{{ $selected_wallet.selected_wallet.name }}" /> <span class="pull-right">&euro; {{ $selected_wallet.selected_wallet.total_amount | euroFormat }}</span></h3>
        <div class="text-right">
            <a class="btn btn-warning btn-sm pull-left" ng-click="$selected_wallet.deleteItem();"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            <a class="btn btn-default btn-sm" ng-click="$selected_wallet.getItem()"><i class="glyphicon glyphicon-repeat"></i> Reload</a>
            <button type="submit" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i> Update</button>
        </div>
    </form>
</div>