@import "variables";

.items-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .item {
    align-items: center;
    background-color: lighten($base-color, 50);
    border-radius: .5em;
    color: $base-color;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: .5em;
    padding: .2em;
    text-decoration: none;
    width: 45%;

    &:hover {
      background-color: lighten($base-color, 55);
    }
    &:active {
      background-color: lighten($base-color, 35);
      color: lighten($base-color, 60);
      box-shadow: 0 0 .5em lighten($base-color, 20) inset;

      .amount {
        color: inherit;
      }
    }

    .glyphicon {
      font-size: 3em;
      margin-bottom: 4px;
    }

    .name {
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .amount {
      font-weight: normal;
    }

    &.item-new {
      background-color: transparent;
      color: lighten($base-color, 25);
      padding: 1em;
    }
  }
}