@import "variables";

.table {
  background-color: $white-bg;

  thead {
    background-color: darken($base-color, 20);

    th {
      text-align: center;
    }
  }

  tbody {
    tr {
      td {
        &.amount {
          text-align: right;
          width: 8em;

          a {
            &:before {
              content: '\20AC';
              color: $silent-text;
              float:left;
            }
          }
        }

        a {
          display: inline-block;
          width: 100%;

          &:hover {
            text-decoration: none;
          }
        }

        .date {
          font-size: .8em;
          font-style: oblique;
        }
      }
    }
  }
}