@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,700,700i');
@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $base-color;
  color: $white-text;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 0;

  & > .container-fluid {
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

@import "table";
@import "items";
@import "wallets";
